/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

* {
  font-family:"Bell MT";
}

html, body {
  background-color: #fdf5e6;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  padding-left: 12%;
  font-family:"edwardian script itc";
  font-weight: lighter;
  font-size: 3.125em;
  color: #ffb6c1;
  line-height: 0.2;
}
/*
form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}


input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}


form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}
*/

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

/* 共通要素 */
/*ヘッダー*/
.headerbg {
  width: 100%;
}
.site-header{
  z-index: 1000;
  display: flex;
  position: fixed;
  width: 100%;
  height: 5em;
  background: #fff;  
  text-align: center;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.2), 0 0.3125em 0.3125em 0 rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
/*メニュー1*/
nav ul{
  padding: 0;
  height: 100%;
  margin: 0;
  list-style: none;  
} 
nav li{
  display: inline-block;
  height: 100%;
}
nav a{
  display: inline-block;
  width: 5.5em;
  padding: 0.5em;
  border-radius: 0.8em;
  margin : 1.25em 2.5em;  
  box-shadow: 0 0 0  0.3em #ffc0cb, 0 0.175em 0.2375em 0.3em rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 0.175em dashed #fff;/* 点線の色・サイズ */
  background: #ffc0cb;/*ボタン色*/
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  font-size: 0.8125em;
  color: #fff;
}
nav a:hover{
  border-style: solid;
  cursor: hand; 
  cursor:pointer
} 
nav a:active{
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
/*ハンバーガーメニュー*/
.menu-btn {
  z-index: 90;
  display: flex;
  position: fixed;
  top: 2.5em;
  right: 3.125em;  
  justify-content: center;
  align-items: center;  
}
.menu-btn:hover{
  cursor: hand; 
  cursor: pointer
} 
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  display: block;
  position: absolute;
  content: '';
  height: 0.1875em;/*線の太さ*/
  width: 1.5625em;/*長さ*/
  border-radius: 0.1875em;
  background-color: #ffc0cb;
  cursor: pointer;
}
.menu-btn span:before {
  bottom: 0.5em;
}
.menu-btn span:after {
  top: 0.5em;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}
.menu-content {
  z-index: 80;
  position: fixed;
  top: 0;
  right: -120%;/*rightの値を変更してメニューを画面外へ*/
  width: 15%;
  height: 100%;
  background-color: #ffe4e1;
  transition: all 0.5s;/*アニメーション設定*/
}
.menu-content ul {
  padding: 4.375em 0.625em 0;
}
.menu-content ul li {
  border-bottom: solid 0.125em #c0c0c0;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  padding: 0.5625em 1em 0.625em 0.5625em;
  font-size: 1em; 
  font-weight: bold;
  color: #c0c0c0;
  text-decoration: none;  
}
#menu-btn-check:checked ~ .menu-content {
  right: 0;/*メニューを画面内へ*/
}
/*リロードボタン*/
.topbutton {
  z-index: 1;
  position:fixed;
  width: 1.7em;/* 円の大きさ */
  height: 1.7em;/* 円の大きさ */
  right: 1.3em;
  bottom: 1.3em;
  line-height: 1.7em;/* 円の大きさ */
  border-radius: 50%;/* 角丸サイズ */
  box-shadow: 0 0 0 0.2em #ffc0cb, 0 0.08em 0.15em 0.2em rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 0.08em dashed #fff;/* 点線の色・サイズ */
  background: #ffc0cb;/*ボタン色*/
  color: #fff;
  font-size: 1.563em;
}
.topbutton:hover {
  /*カーソルを載せたとき*/
  border-style: solid;
  cursor: hand; 
  cursor:pointer
}
.topbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}


/* ログイン画面 */
.login-area{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center
}
.login-page {
  position: relative;
  width: 22.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
}
.login-form {
  z-index: 1;
  position: relative;
  max-width: 22.5em;
  padding: 1.5625em;
  text-align: center;
  background: #FFFFFF;  
  box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.2), 0 0.3125em 0.3125em 0 rgba(0, 0, 0, 0.24);
}
/* Myhandmades */
.form-title {
  text-align: center;
  font-family:"edwardian script itc";
  font-size: 1.875em;
  color: #ffc0cb;
}
/* アイコン */
.user{
  margin-right: 0.125em; 
  color: #ffc0cb;  
}
/* ログインボタン */
.loginbutton {
  width: 12em;
  border-radius: 0.7em;
  padding: 0.5em 1em;
  margin : 0.625em ;
  overflow: hidden;
  background: #ffc0cb;/*ボタン色*/  
  box-shadow: 0 0 0  0.25em #ffc0cb, 0 0.125em 0.1875em 0.25em rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 0.1em dashed #fff;/* 点線の色・サイズ */
  font-size: 1.25em;
  color: #fff;
}
.loginbutton:hover {
  /*カーソルを載せたとき*/
  border-style: solid;
  cursor: hand; 
  cursor:pointer
}
.loginbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.message a{
  margin: auto;
  font-size: 0.75em;
  color: #808080;
  text-decoration: none;
  /* サインアップ画面でも使用 */
}


/* サインアップ画面 */
/* Welcom to Myhandmades */
.form-title-signup{
  margin: 1.875em 0;
  text-align: center;
  font-size: 0.9375em;
  color: #db7093;
}
.form-title-signup span{
  text-align: center;
  font-family:"edwardian script itc";
  font-size: 1.875em;
  color: #db7093;  
}
/* アイコン */
.usersignup{
  margin-right: 0.125em;   
  color: #db7093;  
}
/*サインアップボタン*/
.signupbutton {
  width: 12em;
  border-radius: 0.7em;
  padding: 0.5em 1em;
  margin : 0.625em ;
  overflow: hidden;
  background: #db7093;/*ボタン色*/  
  box-shadow: 0 0 0  0.25em #db7093, 0 0.125em 0.1875em 0.25em rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 0.1em dashed #fff;/* 点線の色・サイズ */
  font-size: 1.25em;
  color: #fff;
}
.signupbutton:hover {
  /*カーソルを載せたとき*/
  border-style: solid;
  cursor: hand; 
  cursor:pointer
}
.signupbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}


/* リスト */
.list{
  margin-top: 5em;
  padding-bottom: 0.2em;
}
.worksarea{
  display: block;
  width: 31.25em;
  padding: 0.625em 0.9375em;
  margin: 1.25em;
  margin-right: 0;
  border-radius: 0.625em;
  background: #ffe4e1;
}
.subjectarea{
  display: block;
  width: auto;
  overflow-wrap: break-word;
  font-size: 1.25em;
  font-weight: bold;
  color: #404040;
}
.durationame{
  display: block;
  margin: 0.2em 0;
  font-size: 0.75em;
}
.durationarea{
  display: inline-block;
  margin-left: 0.2em;
  font-size: 1.3em;
}
.list .tagarea1{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0.3em 0;
}
.list .tagarea{
  display: inline-block;
  position: relative;
  left: 0.9325em;
  height: 2.5em;
  width: auto;
  padding: 0.4em 0.5em;
  background: #deb887;
  color: #f5f5f5;
  font-size: 0.8125em;
  text-align: center;  
}
.list .tagarea:before {
  position: absolute;
  top: 0;
  left: -1.16em;
  content: '';
  border-width: 1.29em 1.16em 1.29em 0;
  border-style: solid;
  border-color: transparent #deb887 transparent transparent;
}
.list .tagarea:after {
  position: absolute;
  top: calc(50% - 0.21875em);
  left: -0.3125em;
  width: 0.5em;
  height: 0.45em;
  content: '';
  border-radius: 50%;
  background: #ffe4e1;
}
.list .commentbox {
  display: block;
  position: relative;
  height: auto;
  margin-top: 0.8em;
  border: 0.125em solid #808080;
  border-radius: 0.5em;
}
.list .commentbox::before {
  position: absolute;
  top: -0.625em;
  left: 0.625em;
  padding: 0 0.625em;
  content: "Comment";
  background-color: #ffe4e1;
  color: #404040;
  font-size: 0.75em;
}
.list .commentbox p{
  margin-left: 0.9375em;
  font-size: 0.9375em;
}
/* private workarea */
.worksarea_private{
  display: block;
  width: 31.25em;
  padding: 0.625em 0.9375em 1.8em;
  margin: 1.25em;
  margin-right: 0;
  border-radius: 0.625em;
  background: #ffe4e1;
}
/* 公開しているかアイコン */
.worksicon{
  color: #808080;
  /*削除ボタンと編集ボタンにも使用*/
}
.openarea{
  float: right;
  margin: 0.3125em;
}
.openarea .nowopenmessage{
  display: none;
  position: absolute;
  font-size: 0.75em;
  padding: 0.3125em;
  padding-top: 0.4em;
  padding-left: 0.5em;
  color: #808080;
  border-radius: 0.8em;
  background: #fdf5e6;
  width: auto;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}
.openarea .nowopenmessage:before {
  content: '';
  position: absolute;
  top: -0.9em;
  right: 35%;
  border: 0.3125em solid transparent;
  border-top: 0.8em solid #fdf5e6;
  margin-left: -1em;
  transform: rotateZ(180deg);
}
.openarea:hover .nowopenmessage{
  display: inline-block;
  margin-top: 2.3em;
  margin-left: -2.8em;
}
/*削除ボタン*/
.deletebutton {
  display: inline-block;
  margin: 0.5em;
  overflow: hidden;
  outline: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.deletediv{
  display: none;
  position: absolute;
  padding: 0.3125em 0.5em;
  color: #808080;
  border-radius: 0.8em;
  background: #fdf5e6;
  width: auto;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}
.deletediv:before {
  content: '';
  position: absolute;
  top: -0.9em;
  right: 35%;
  border: 0.3125em solid transparent;
  border-top: 0.8em solid #fdf5e6;
  margin-left: -1em;
  transform: rotateZ(180deg);
}
.deletebutton:hover .deletediv{
  /*カーソルを載せたとき*/
  display: inline-block;
  margin-top: 1.8em;
  margin-left: -2.7em;
}
.deletebutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
/*編集ボタン*/
.worksarea_private form{
  float: right;
  width: 0;  
}
.editbutton {
  float: right;
  display: inline-block;  
  margin: 0.3em 0.5em 0.5em 0.5em;
  overflow: hidden;
  outline: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.editdiv{
  display: none;
  position: absolute;
  padding: 0.3125em 0.5em;
  color: #808080;
  border-radius: 0.8em;
  font-size: 0.8em;
  background: #fdf5e6;
  width: auto;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}
.editdiv:before {
  content: "";
  position: absolute;
  top: -0.9em;
  right: 35%;
  border: 0.3125em solid transparent;
  border-top: 0.8em solid #fdf5e6;
  margin-left: -1em;
  transform: rotateZ(180deg);
}
.editbutton:hover .editdiv{
  /*カーソルを載せたとき*/
  display: inline-block;
  margin-top: 2.2em;
  margin-left: -2.5em;
}
.editbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}




/* Private画面 */
/*追加ボタン*/
.addbutton {
  display: inline-block;
  position: fixed;
  top: 7.5em;
  right: 1.25em;
  width: 4em;
  height: 4em;
  line-height: 4em;
  border-radius: 50%;  
  box-shadow: 0 0 0  0.25em #db7093, 0 0.125em 0.1875em 0.25em rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 0.1em dashed #fff;
  background: #db7093;
  text-align: center;
  font-size: 1.25em;
  color: #fff;
}
.addbutton:hover {
  /*カーソルを載せたとき*/
  border-style: solid;
  cursor: hand; 
  cursor:pointer
}
.addbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: auto;
	height: auto;
	background-color: #ffffff;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 10px 20px;
}
/*公開オンオフボタン*/
.open-choose{
  display:inline-block;
  margin-top: 10px;
  float: right;
}
.open-knobs, .open-layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.open-button{
  position: relative;
  width: 40px;
  height: 23px;
  overflow: hidden;
}
.open-choose:hover .open-message{
    display: inline-block;
}
.open-message {
    top: 70px;
    display: none;
    position: absolute;
    font-size: 12px;
    padding: 5px;
    color: #808080;
    border-radius: 10px;
    background: #fdf5e6;
    width: 105px;
    text-align: center;
    text-decoration: none;
    line-height: 1;
}
.open-message:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 26%;
    border: 8px solid transparent;
    border-top: 8px solid #fdf5e6;
    margin-left: -15px;
    transform: rotateZ(180deg);
}
.open-button, .open-button .open-layer{
    border-radius: 100px;
}
.open-checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.open-knobs{
    z-index: 2;
}
.open-layer{
    width: 100%;
    background-color: #efefef;
    transition: 0.3s ease all;
    z-index: 1;
}
#open-button .open-knobs:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 0.5px;
    color: #fff;
    text-align: center;
    line-height: 0.8;
    padding: 9px 4px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
#open-button .open-checkbox:checked + .open-knobs:before{
    content: '';
    left: 20px;
    background-color: #db7093;
}
#open-button .open-checkbox:checked ~ .open-layer{
    background-color: #ffe8e8;
}
#open-button .open-knobs, #open-button .open-knobs:before, #open-button .open-layer{
    transition: 0.3s ease all;
}

.holder{
	z-index: -1;
	font-size: 15px;
	margin: 0;
}
.content{
  font-size: 20px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
}
/*データ送信ボタン*/
.submitbutton {
  overflow: hidden;
  outline: 0;
  width: 240px;
  display: inline-block;
  margin : 10px ;
  padding: 0.5em 1em;
  box-shadow: 0 0 0 5px #db7093, 0 2px 3px 5px rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 2px dashed #fff;/* 点線の色・サイズ */
  border-radius: 15px;
  background: #db7093;/*ボタン色*/
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.submitbutton:hover {
  /*カーソルを載せたとき*/
  border-style: solid;
  cursor: hand; 
  cursor:pointer
}
.submitbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

/*タグ追加*/
.tag-addbutton {
  overflow: hidden;
  outline: 0;
  width: 70px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 430px;
  padding: 0.3em;
  box-shadow: 0 0 0 5px #ffc0cb, 0 2px 3px 5px rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 1px dashed #fff;/* 点線の色・サイズ */
  border-radius: 7px;
  background: #ffc0cb;/*ボタン色*/
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.tag-addbutton:hover {
  /*カーソルを載せたとき*/
  border-style: solid;
  cursor: hand; 
  cursor:pointer
}
.tag-addbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
#tag-pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.tag-overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#tag-pop-up:checked + .tag-overlay {
	display: block;
	z-index: 10000;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.tag-window {
	width: auto;
	height: auto;
	background-color: #ffffff;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 10px 20px;
}
.tag-holder{
	z-index: -1;
	font-size: 15px;
	margin: 0;
}
.tag-content{
  font-size: 20px;
	margin: 0;
}
.tag-close {
	cursor:pointer;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
}
/*追加タグデータ送信ボタン*/
.tag-submitbutton {
  overflow: hidden;
  outline: 0;
  width: 100px;
  display: inline-block;
  margin : 10px ;
  padding: 0.25em 0.5em;
  box-shadow: 0 0 0 5px #db7093, 0 2px 3px 5px rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 2px dashed #fff;/* 点線の色・サイズ */
  border-radius: 10px;
  background: #db7093;/*ボタン色*/
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.tag-submitbutton:hover {
  /*カーソルを載せたとき*/
  border-style: solid;
  cursor: hand; 
  cursor:pointer
}
.tag-submitbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

/* 編集画面 */
.edit-modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
}
.edit-modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}
.edit-modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}
.edit-modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}
.edit-modal-wrapper .edit-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c!important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}
.edit-modal-wrapper .edit-close:hover {
  color: #2b2e38!important
}
.edit-overlay {
	display: block;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.edit-window {
	width: auto;
	height: auto;
	background-color: #ffffff;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 10px 20px;
}
.edit-holder{
	z-index: -1;
	font-size: 15px;
	margin: 0;
}
.edit-content{
  font-size: 20px;
	margin: 0;
}


/* Profile.html */
/* ページ全体 */
.all-area{
  margin-top: 5em;
  padding-bottom: 0.2em;
}
/* 各エリア */
.profile-area{
  display: block;
  width: 31.25em;
  padding: 0.625em 0.9375em;
  margin: 1.25em;
  margin-right: 0;
  border-radius: 0.625em;
  background: #ffe4e1;
}
/* 各タイトル */
.profile-title{
  display: block;
  width: auto;
  margin-bottom: 0.4em;
  font-size: 1.25em;
  font-weight: bold;
  color: #404040;
}
/* 各エリア内の文字 */
.profile-area div{
  letter-spacing: 0.01em;
}
.profile-area div label{
  font-size: 0.75em;
}
/* 各エリア重要な文字は大きく */
.profile-area div span{
  font-size: 1.3em;
}
/* ユーザーが追加したタグについて */
.tag-user-area{
  display: flex;
  align-items: center;
  margin: 0.2em 0 0.5em 0;
}
.tag-user-area .tag-user-name{
  font-size: 0.9em;  
}
.profile-area .tag-user-button-area{
  display: flex;
  align-items: center;
  float: right;
  font-size: initial;
}
/*タグ削除ボタン*/
.profile-deletebutton {
  display: flex; 
  align-items: center;
  margin-left: 2em;
  margin-right: 5em;
  overflow: hidden;
  outline: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.profile-deletediv{
  display: none;
  position: absolute;
  width: auto;
  padding: 0.3125em 0.5em;
  color: #808080;
  border-radius: 0.8em;
  background: #fdf5e6;  
  text-align: center;
  text-decoration: none;
  line-height: 1;
}
.profile-deletediv:before {
  content: '';
  position: absolute;
  right: 100%;
  border: 0.3125em solid transparent;
  border-top: 0.8em solid #fdf5e6;
  margin-left: -1em;
  transform: rotateZ(90deg);
}
.profile-deletebutton:hover .profile-deletediv{
  /*カーソルを載せたとき*/
  display: inline-block;
  margin-left: 1.8em;
}
.profile-deletebutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
/*タグ編集ボタン*/
.profile-editbutton {
  display: flex; 
  align-items: center;
  margin-right: 4.5em;
  overflow: hidden;
  outline: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.profile-editdiv{
  display: none;
  position: absolute;
  padding: 0.3125em 0.5em;
  color: #808080;
  border-radius: 0.8em;
  font-size: 0.8em;
  background: #fdf5e6;
  width: auto;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}
.profile-editdiv:before {
  content: '';
  position: absolute;
  right: 100%;
  border: 0.3125em solid transparent;
  border-top: 0.8em solid #fdf5e6;
  margin-left: -1em;
  transform: rotateZ(90deg);
}
.profile-editbutton:hover .profile-editdiv{
  /*カーソルを載せたとき*/
  display: inline-block;
  margin-left: 2em;
}
.profile-editbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.change-form p{
  display: flex;
  align-items: center;
}
.cancel-form p{
  display: flex;
  align-items: center;
}
.profile-icon{
  color: #808080;
  letter-spacing: 0.1em;
}
/*ボタン*/
.profile-button {
  width: auto;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  margin: 0 0.5em 0.5em 10em;
  overflow: hidden;
  background: #db7093;/*ボタン色*/  
  box-shadow: 0 0 0  0.25em #db7093, 0 0.125em 0.1875em 0.25em rgba(0,0,0,0.5);/* 縁取り・影 */
  border: 0.1em dashed #fff;/* 点線の色・サイズ */
  font-size: 0.9em;
  color: #fff;
}
.profile-button:hover {
  /*カーソルを載せたとき*/
  border-style: solid;
  cursor: hand; 
  cursor:pointer
}
.profile-button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
